*
{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body
{
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:100vh;
  width:100vw;
}

#intro
{
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  height: 100%;
  width: 100%;
}

#intro button
{
  background-color: white; 
  border: 5px solid black;
  color: black;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  margin-bottom:40px;
}

#intro button:hover
{
  background-color: black;
  color: white;
}

.grid{
  display:none;
  width:320px;
  height:320px;
  grid-template-columns: 12fr 1fr 12fr 1fr 12fr;
  grid-template-rows: 12fr 1fr 12fr 1fr 12fr;
}

.separator{
  background-color: #000000;
}

.separator:first-of-type{
  grid-column: 2/3;
  grid-row: 1/6;
}

.separator:nth-of-type(2){
  grid-column: 4/5;
  grid-row: 1/6;
}

.separator:nth-of-type(3){
  grid-row: 2/3;
  grid-column:1/6;}

.separator:nth-of-type(4){
  grid-row: 4/5;
  grid-column:1/6;
}

.cell{
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
  line-height: 98px;
}

.cell .fa-times, .cell .fa-circle{
  display:none;
  vertical-align: middle;
}

.cell.x .fa-times{
  display:inline;
  font-size:5rem;
  vertical-align: middle;
  color:red;
}

.cell.o .fa-circle{
  display:inline;
  font-size:4rem;
  color:blue;
}